<header class="fixed top-0 w-full flex justify-between items-center px-6 py-4 bg-white shadow-md z-50">
    <div class="flex items-center">
        <img src="https://training.ubu.ac.th/assets/img/ubu_logo.png" alt="UBU Logo" class="w-10 h-10 mr-3">
        <h2 class="text-xl font-bold">ระบบรับสมัครนักศึกษาเข้าร่วมกิจกรรม</h2>
    </div>
    <nav class="space-x-6">
        <a href="/" class="text-black-600 font-bold hover:text-blue-900">หน้าแรก</a>
        <a href="/login" class="text-black-600 font-bold hover:text-blue-900">เข้าสู่ระบบ</a>
        <a href="{% url 'Register' %}" class="text-black-600 font-bold hover:text-blue-900">สมัครสมาชิก</a>
        <a href="{% url 'RegisterFacultyStaff' %}" class="text-black-600 font-bold hover:text-blue-900">สมัครสมาชิกสำหรับเจ้าหน้าที่คณะ</a>
    </nav>
</header>