<div class="pt-24 px-8 p-6 bg-gray-100">
    <h1 class="text-2xl font-light text-gray-900 mb-6 text-center">กิจกรรมทั้งหมด</h1>
</div>
<body class="bg-gray-100 text-gray-800">
    <!-- Chart Section -->
    <div class="flex justify-center items-center">
        <div class="w-full max-w-4xl bg-white p-6 rounded-lg shadow-md">
            <div class="relative h-96">
                <canvas id="activityChart" class="absolute inset-0 w-full h-full"></canvas>
            </div>
        </div>
    </div>
    <!-- Chart.js Configuration -->
    <script>
        // สร้าง labels และ data จาก Django context
        const labels = [
            {% for stat in activity_stats %}
                "{{ stat.activity_type }}",  // ชื่อกิจกรรม
            {% endfor %}
        ];

        const data = [
            {% for stat in activity_stats %}
                {{ stat.count }},  // จำนวนของกิจกรรม
            {% endfor %}
        ];

        var ctx = document.getElementById('activityChart').getContext('2d');
        var activityChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,  // ใช้ labels ที่ส่งจาก Django
                datasets: [{
                    label: '# of Participants',
                    data: data,  // ใช้ data ที่ส่งจาก Django
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>
