<div class="pt-24 px-8 p-6 bg-gray-100">
    <br>
    <h1 class="text-2xl font-light text-gray-900 text-center">ตรวจสอบรายชื่อนักศึกษาที่เข้าร่วมกิจกรรม: {{ activity.activity_name }}</h1>
</div>
<!-- component -->
<body class="bg-gray-100">
    <div class="flex flex-col mx-3 mt-6 lg:flex-row">
        <div class="w-full lg:w-1/5 m-1 item-center">
            <form method="GET" action="" class="w-full bg-white shadow-md p-6">
                <div class="flex flex-wrap -mx-3 mb-6 pt-8">
                    <div class="w-full md:w-full px-3 mb-6 fiexd">
                        <a href="" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline text-center border border-gray-200">
                            <strong>เลือกนักศึกษาที่เข้าร่วมกิจกรรม :</strong>
                        </a>
                        <td class="px-4 py-2 border border-gray-300 bg-white text-sm">    
                            {% if activity.img_activity %}
                                <img src="{{ activity.img_activity.url }}" alt="Activity Image" class="w-50 h-50 border border-gray-300">
                            {% else %}
                                <span class="border border-gray-300 p-2">ไม่มีรูปภาพ</span>
                            {% endif %}
                        </td>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="w-full lg:w-4/5 m-1 bg-white shadow-lg text-lg rounded-sm border border-gray-200">
            <div class="overflow-x-auto rounded-lg max-h-96 relative" style="max-height: 550px; overflow-y: auto;">
                <table class="table-auto w-full">
                    <thead class="text-sm font-semibold uppercase text-gray-800" style="position: sticky; top: 0; z-index: 10;">
                        <tr>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                <input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)">
                                เลือกทั้งหมด
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                รหัสนักศึกษา
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                ชื่อ
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                นามสกุล
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                คณะ
                            </th>
                        </tr>
                    </thead>
                    
                    <tbody class="overflow-y-auto border border-gray-300">
                        <form method="post" onsubmit="return confirmRegistration();">
                            {% csrf_token %}
                            {% for student_in_activity in students_in_activity %}
                            <tr class="border border-gray-300">
                                <!-- กำหนดให้ td มีกรอบล้อมรอบ -->
                                <td class="px-4 py-2 border border-gray-300 bg-white text-sm text-center">
                                    <input type="checkbox" name="student" value="{{ student_in_activity.student.id }}"
                                        {% if student_in_activity.is_approved %}
                                            checked
                                        {% endif %}>
                                </td>
                                    </td>
                                    <td class="px-5 border border-gray-300 py-5 border-b border-gray-200 bg-white text-sm text-center">
                                        <p class="text-gray-900 whitespace-no-wrap">{{ student_in_activity.student.user.username }}</p>
                                    </td>
                                    <td class="px-5 border border-gray-300 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">{{ student_in_activity.student.user.first_name }}</p>
                                    </td>
                                    <td class="px-5 border border-gray-300 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">{{ student_in_activity.student.user.last_name }}</p>
                                    </td>
                                    <td class="px-5 border border-gray-300 py-5 border-b border-gray-200 bg-white text-sm text-center">
                                        <p class="text-gray-900 whitespace-no-wrap">{{ student_in_activity.student.faculty }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
                    </div>
                        <button type="submit" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-700">ยืนยันการตรวจสอบรายชื่อนักศึกษาที่เข้าร่วมกิจกรรม</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>