<div class="pt-24 px-8 p-6 bg-gray-100">
    <br>
    <h1 class="text-2xl font-light text-gray-900 text-center">กิจกรรมที่ประกาศ</h1>
</div>
<!-- component -->
<body class="bg-gray-100">
    <div class="flex flex-col mx-3 mt-6 lg:flex-row">
        <div class="w-full lg:w-1/5 m-1">
            <form method="GET" action="" class="w-full bg-white shadow-md p-6">
                <div class="flex flex-wrap -mx-3 mb-6 pt-8">
                    <div class="w-full md:w-full px-3 mb-6 fiexd">
                        <a href="?activity_type=all" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline text-center border border-gray-200">
                            <strong>กิจกรรมทั้งหมด</strong>
                        </a>
                        <a href="?activity_type=academic" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline border border-gray-200 p-2">
                            <strong>กิจกรรมด้านที่ 1 : </strong>
                            <p>- ด้านวิชาการที่ส่งเสริมคุณลักษณะบัณฑิตที่พึงประสงค์</p>
                        </a>
                        <a href="?activity_type=sport" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline border border-gray-200 p-2">
                            <strong>กิจกรรมด้านที่ 2 : </strong>
                            <p>- ด้านกีฬาหรือการส่งเสริมสุขภาพ</p>
                        </a>
                        <a href="?activity_type=environment" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline border border-gray-200 p-2">
                            <strong>กิจกรรมด้านที่ 3 : </strong>
                            <p>- ด้านบำเพ็ญประโยชน์หรือรักษาสิ่งแวดล้อม</p>
                        </a>
                        <a href="?activity_type=moral" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline border border-gray-200 p-2">
                            <strong>กิจกรรมด้านที่ 4 : </strong>
                            <p>- ด้านเสริมสร้างคุณธรรมและจริยธรรม</p>
                        </a>
                        <a href="?activity_type=art_culture" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline border border-gray-200 p-2">
                            <strong>กิจกรรมด้านที่ 5 : </strong>
                            <p>- ด้านส่งเสริมศิลปะและวัฒนธรรม</p>
                        </a>
                         <a href="?activity_type=other" class="block font-medium text-gray-500 dark:text-gray-300 hover:underline border border-gray-200 p-2">
                            <strong>กิจกรรมด้านที่ 6 : </strong>
                            <p>- ด้านกิจกรรมอื่นๆ</p>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="w-full lg:w-4/5 m-1 bg-white shadow-lg text-lg rounded-sm border border-gray-200">
            <div class="overflow-x-auto rounded-lg max-h-96 relative" style="max-height: 550px; overflow-y: auto;">
                <table class="table-auto w-full">
                    <thead class="text-sm font-semibold uppercase text-gray-800" style="position: sticky; top: 0; z-index: 10;">
                        <tr>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                รูป
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                ชื่อกิจกรรม
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                วันที่จัดกิจกรรม
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                จำนวนผู้ลงทะเบียน
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                เอกสาร
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                เอกสารลงชื่อ
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                จัดการ
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                ส่งเอกสาร
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                สถานะ
                            </th>
                        </tr>
                    </thead>
                    <tbody class="overflow-y-auto border border-gray-300">
                        {% for i in db %}
                        <tr class="border border-gray-300">
                            <!-- กำหนดให้ td มีกรอบล้อมรอบ -->
                            <td class="px-4 py-2 border border-gray-300 bg-white text-sm">
                                {% if i.img_activity %}
                                <img src="{{ i.img_activity.url }}" alt="Activity Image" class="w-16 h-16 border border-gray-300">
                                {% else %}
                                <span class="border border-gray-300 p-2">ไม่มีรูปภาพ</span>
                                {% endif %}
                            </td>
                                </td>
                                <td class="px-5 border border-gray-300 py-5 border-b border-gray-200 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">{{ i.activity_name }}</p>
                                </td>
                                <td class="px-5 border border-gray-300 py-5 border-b border-gray-200 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">{{i.start_date_activity.date}}</p>
                                    <p class="text-gray-900 whitespace-no-wrap">{{i.start_date_activity.time}} - {{i.due_date_activity.time}}</p>
                                </td>
                            
                                <td class="px-5 border border-gray-300 py-5 border-b border-gray-200 bg-white text-sm text-center">
                                    <p class="text-gray-900 whitespace-no-wrap">{{i.max_participants}} / {{i.registered_count}}</p>
                                </td>
                                <td class="px-5 border border-gray-300 py-5 border-b border-gray-200 bg-white text-sm">
                                    <a href="generate_registration_form/{{ i.id }}/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-down"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M12 18v-6"/><path d="m9 15 3 3 3-3"/></svg></a>
                                </td>
                                <td class="px-5 border border-gray-300 py-5 border-b border-gray-200 bg-white text-sm">
                                    <a href="generate_pdf/{{ i.id }}/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-down"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M12 18v-6"/><path d="m9 15 3 3 3-3"/></svg></a>
                                </td>
                                <td class="px-5 border border-gray-300 py-5 border-b border-gray-200 bg-white text-sm text-center">
                                    <a href="{% url 'check_student_list' i.id %}" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-700 mx-1">ตรวจสอบรายชื่อ</a><br>
                                    <br>
                                    <span class="text-yellow-500 flex justify-center">
                                        <a href="update_activity/{{ i.id }}/">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-green-700 mx-2" viewBox="0 0 20 20" fill="currentColor">
                                                <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"/>
                                                <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"/>
                                            </svg>
                                        </a>
                                        <a href="delete_activity/{{ i.id }}/">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-700" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"/>
                                            </svg>
                                        </a>
                                    </span>
                                </td>
                                <td class="px-5 border border-gray-300 py-5 border-b border-gray-200 bg-white text-sm text-center">
                                    <!-- {% if messages %}
                                        <ul class="messages">
                                        {% for message in messages %}
                                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %} -->
                                    {% if i.pdf_files.all %}
                                    <!-- ลิงก์เพื่อดาวน์โหลด PDF -->
                                        <a href="{{ i.pdf_files.first.pdf_file.url }}" target="_blank" class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-700">ดาวน์โหลด PDF</a>
                                        <br>
                                        <br>
                                        <a href="{% url 'delete_pdf' i.pdf_files.first.id %}" class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-700 mx-1">ลบ</a>
                                        
                                    {% else %}
                                    <!-- ฟอร์มอัปโหลดไฟล์ PDF หากยังไม่ได้อัปโหลด -->
                                    <form method="post" enctype="multipart/form-data" action="{% url 'upload_pdf' i.id %}">
                                        {% csrf_token %}
                                        <input type="file" name="pdf_file" accept="application/pdf" required class="text-center"><br>
                                        <button type="submit" class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-700">ส่ง</button>
                                    </form>
                                    {% endif %}
                                </td>
                                <td class="px-5 border border-gray-300 py-5 border-b border-gray-200 bg-white text-sm text-center">
                                    {% if not i.is_approved %}
                                        <span class="bg-gray-500 text-white px-3 py-1 rounded">ยังไม่อนุมัติ</span>
                                    {% else %}
                                        <span class="bg-gray-500 text-white px-3 py-1 rounded">อนุมัติแล้ว</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>