{% load crispy_forms_tags %}
<main class="flex justify-center items-center px-12 py-10 pt-20">
  <div class="w-aoto bg-gray-100 p-8 shadow-lg rounded-lg animate-slide-in-left">
      <h1 class="text-2xl font-bold mb-6 text-center">แก้ไขข้อมูลกิจกรรม</h1>
      <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-center">
              <button type="submit" class="w-full px-4 py-2 bg-blue-400 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:bg-blue-700">
                บันทึกการแก้ไข
            </button>
          </div>
      </form>
  </div>
</main>