<main class="flex justify-between items-center px-12 py-12 pt-20 h-screen">
    <div class="max-w-2xl animate-slide-in-left">
        <h1 class="text-4xl font-bold mb-4">ระบบจัดการการเข้าร่วมกิจกรรม มหาวิทยาลัยอุบลราชธานี</h1>
        <h2 class="text-2xl text-gray-600">- ระบบรับสมัครนักศึกษาเข้าร่วมกิจกรรม</h2>
    </div>
    <div class="max-w-xl">
        <!-- <img src="https://training.ubu.ac.th/assets/img/hero-img.png" alt="Training Illustration" class="w-full h-auto animate-float"> -->
    </div>
</main>
