{% load crispy_forms_tags %}


<main class="flex justify-center items-center px-12 py-16 pt-20">
    <div class="w-auto bg-gray-100 p-8 shadow-lg rounded-lg animate-slide-in-left">
        <h1 class="text-2xl font-bold mb-6 text-center">ลงทะเบียน</h1>
                <!-- ส่วนเลือกบทบาท -->
        <div class="bg-gray-100 p-6">
            <h2 class="text-lg font-semibold mb-4 text-center text-red-700">*กรุณาเลือกประเภทผู้ใช้งาน</h2>
            <div class="flex justify-center space-x-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-round"><path d="M18 21a8 8 0 0 0-16 0"/><circle cx="10" cy="8" r="5"/><path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3"/></svg>
                <a href="{% url 'Register' %}?role=student" class="flex-1 py-3 px-4 bg-blue-500 text-white text-center rounded-lg shadow-md hover:bg-blue-600 transition duration-300 text-sm font-medium">
                    นักเรียน
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round-cog"><path d="M2 21a8 8 0 0 1 10.434-7.62"/><circle cx="10" cy="8" r="5"/><circle cx="18" cy="18" r="3"/><path d="m19.5 14.3-.4.9"/><path d="m16.9 20.8-.4.9"/><path d="m21.7 19.5-.9-.4"/><path d="m15.2 16.9-.9-.4"/><path d="m21.7 16.5-.9.4"/><path d="m15.2 19.1-.9.4"/><path d="m19.5 21.7-.4-.9"/><path d="m16.9 15.2-.4-.9"/></svg>
                <a href="{% url 'Register' %}?role=person_responsible_for_the_project" class="flex-1 py-3 px-4 bg-green-500 text-white text-center rounded-lg shadow-md hover:bg-green-600 transition duration-300 text-sm font-medium">
                    ผู้จัดงาน
                </a>
            </div>
        </div>
        <!-- ฟอร์มลงทะเบียน -->
        <form action="" method="post">
            {% csrf_token %}
            {{ form2|crispy }}
            {{ form1|crispy }}
            <div class="text-center">
                <button type="submit" class="w-full px-4 py-2 bg-blue-400 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:bg-blue-700">ลงทะเบียน</button>
            </div>
        </form>
    </div>
</main>
